<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User list Page</h1>

    <ul>
        <% for(let i=0; i<users.length;i++) {%>
        <li> <%= users[i] %></li>
        <% } %>
    </ul>
    <% if(isLoggedIn) { %>
        <h2>Welcome back, valued user!</h2>
    <% } %>
</body>
</html>